* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b1220;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

section {
  padding: 60px 20px;
}

.logo {
  color: #34d399;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu li a {
  transition: 0.3s;
}

.menu li a:hover {
  color: #34d399;
}

#hamburguer {
  display: none;
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
}

.hero {
  height: 80vh;
  background: radial-gradient(circle at top, #0f172a, #020617);
  display: flex;
  flex-direction: column;
}

.hero-container {
  text-align: center;
  margin-top: 100px;
}

.intro {
  color: #34d399;
  margin-bottom: 10px;
}

.hero-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.descricao {
  color: #34d399;
}

#sobre {
  min-height: 100vh;
}

#sobre h2 {
  color: #34d399;
  text-align: center;
  margin-bottom: 40px;
}

.sobre-conteudo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin: auto;
  align-items: center;
}

.sobre-texto p {
  color: #9ca3af;
  margin-bottom: 20px;
  line-height: 1.6;
}

.sobre-dados {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.sobre-dados strong {
  display: block;
  font-size: 2em;
  color: #34d399;
}

.sobre-dados span {
  font-size: 1em;
  color: #9ca3af;
}

#projetos {
  min-height: 100vh;
  text-align: center;
}

#projetos h2 {
  color: #34d399;
  margin-bottom: 40px;
}

.projetos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projeto-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

.projeto-card:hover {
  transform: translateY(-5px);
}

.projeto-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.projeto-card p {
  color: #9ca3af;
  margin-bottom: 15px;
}

.projeto-card a {
  color: #34d399;
  font-weight: bold;
  border: 2px solid #34d399;
  padding: 8px 15px;
  border-radius: 8px;
  display: inline-block;
  transition: 0.3s;
}

.projeto-card a:hover {
  background: #34d399;
  color: #020617;
}

#habilidades {
  text-align: center;
}

#habilidades h2 {
  color: #34d399;
  margin-bottom: 20px;
}

#habilidades p {
  color: #9ca3af;
  margin-bottom: 30px;
}

.habilidades-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.habilidades-card {
  background-color: #020617;
  border: 1px solid #1f2633;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  transition: 0.3s;
}

.habilidades-card:hover {
  border: 1px solid #34d399;
}

.habilidades-card span {
  padding: 5px 14px;
  border-radius: 10px;
  border: 1px solid #34d399;
  color: #34d399;
  font-size: 0.7em;
}

#contato {
  min-height: 100vh;
  text-align: center;
}

#contato h2 {
  color: #34d399;
  margin-bottom: 20px;
}

#contato p {
  color: #9ca3af;
  margin-bottom: 30px;
}

.contatos-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.contato-item {
  background: #020617;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #34d399;
}

.contato-item strong {
  color: #34d399;
  display: block;
  margin-bottom: 5px;
}

.contato-item span {
  color: #9ca3af;
  font-size: 0.9em;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.redes-sociais a {
  border: 1px solid #34d399;
  border-radius: 10px;
  color: #34d399;
  padding: 10px 20px;
  transition: 0.3s;
}

.redes-sociais a:hover {
  background: #34d399;
  color: #020617;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #9ca3af;
}

@media (max-width: 768px) {
  #hamburguer {
    display: block;
  }

  .menu {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #0f172a;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    display: none;
  }

  .menu.ativa {
    display: flex;
  }

  .redes-sociais {
    flex-direction: column;
  }
}
